
@use "sass:map";
@import "../../styles/variables";

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 16px;
  color: $color-primary;
}

.page-header-brand {
  display: flex;
  align-items: center;

  span {
    max-width: 277px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.5;
  }
}

.page-header-nav {
  margin-top: 8px;
  font-size: 1.2em;
}

.page-header-nav-separator {
  margin: 0 12px;
}

.page-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 3em 6em;
  background-color: #666;

  .page-footer-brand {
    .page-footer-logos {
      display: flex;
      align-items: center;
      max-width: 558px;
      margin-bottom: 16px;
      font-size: 1.25em;
      color: $color-primary;
    }

    .page-footer-copy {
      font-size: .8em;
      color: #afafaf;
    }
  }

  .page-footer-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: .9em;

    h5 {
      font-size: 1.25em;
    }

    a {
      display: flex;
      align-items: center;
    }
  }
}

.section {
  display: block;
  margin-top: 2em;
}

.section-title {
  display: block;
  max-width: 225px;
  margin: auto;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-size: 2.5em;
  font-weight: 400;
}

.section-title-long {
  max-width: 400px;
}

.section-subtitle {
  margin-top: 24px;
  text-align: center;
}

.subsection {
  max-width: 600px;
  margin: 48px 16px;
  text-align: justify;
  font-size: 1.15em;
  line-height: 1.5;
}

.section-more {
  display: flex;
  justify-content: flex-end;
  padding: 0 12px 12px 12px;

  a {
    display: flex;
    align-items: center;
  }
}

@media (min-width: map.get($grid-breakpoints, "sm")) {
  .page-header { flex-direction: row; }
  .page-header-nav { margin-top: 0; }

  .section-title { max-width: 350px; }
  .section-title-long { max-width: 500px; }
  .subsection { margin: 48px auto; }
}

@media (min-width: map.get($grid-breakpoints, "md")) {
  .section-more { padding: 0 48px 12px 48px; }
}

@media (min-width: map.get($grid-breakpoints, "lg")) {
  .page-header-brand span {
    max-width: 346px;
    font-size: 1.25em;
  }

  .page-header-nav { font-size: 1.5em; }

  .section-title { max-width: 450px; }
  .section-title-long { max-width: 600px; }
  .section-more { padding: 0 256px 12px 256px; }
}
