
@use "sass:map";
@import "../../styles/variables";

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 16px;
  color: $color-primary;
  font-size: .9em;

  span {
    width: 374px;
    font-weight: bold;
    line-height: 1.5;
  }
}

.page-header-brand {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.page-header-nav {
  margin-top: 8px;
  font-size: 1.5em;
}

.page-header-nav-separator {
  margin: 0 12px;
}

.page-footer {
  margin: 5em 0 1em 0;
  text-align: center;
}

.section {
  display: block;
  margin-top: 2em;
}

.section-title {
  display: block;
  max-width: 225px;
  margin: auto;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-size: 2.5em;
  font-weight: 400;
}

.section-title-long {
  max-width: 400px;
}

.section-subtitle {
  margin-top: 24px;
  text-align: center;
}

.subsection {
  max-width: 600px;
  margin: 48px 16px;
  text-align: justify;
  font-size: 1.15em;
  line-height: 1.5;
}

.section-more {
  display: flex;
  justify-content: flex-end;
  padding: 0 12px;

  a {
    display: flex;
    align-items: center;
  }
}

@media (min-width: map.get($grid-breakpoints, "sm")) {
  .page-header { flex-direction: row; }
  .page-header-nav { margin-top: 0; }

  .section-title { max-width: 350px; }
  .section-title-long { max-width: 500px; }
  .subsection { margin: 48px auto; }
}

@media (min-width: map.get($grid-breakpoints, "md")) {
  .section-more { padding: 0 48px; }
}

@media (min-width: map.get($grid-breakpoints, "lg")) {
  .section-title { max-width: 450px; }
  .section-title-long { max-width: 600px; }
  .section-more { padding: 0 256px; }
}
