
@use "sass:map";
@import "../../styles/variables";

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin-top: 24px;
  text-align: center;
  line-height: 1.25;
  cursor: pointer;

  .article-img {
    max-height: 250px;
    overflow: hidden;

    img { width: 300px; }
  }

  h6 { margin-top: 12px; }
}

@media (min-width: map.get($grid-breakpoints, "sm")) {
  .article {
    .article-img {
      img { width: 350px; }
    }
  }
}
