
$color-bg: #000000;
$color-bg-contrast: #ffffff;

$color-primary: #ebc463;
$color-primary-contrast: #000000;

$color-danger: #721c24;
$color-danger-bg: #f8d7da;
$color-danger-border: #f5c6cb;

$color-info: #0c5460;
$color-info-bg: #d1ecf1;
$color-info-border: #bee5eb;

$spacing-sizes: (
  0: 0rem,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 2rem,
  5: 4rem,
  6: 8rem
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
