
@use "sass:map";
@import "../../styles/variables";

.form-contact {
  margin: 32px auto 0 auto;
  padding: 0;
  max-width: 300px;

  a { text-decoration: underline; }
}

.socials {
  a { margin: 0 12px; }
}

@media (min-width: map.get($grid-breakpoints, "sm")) {
  .form-contact { 
    padding: 0 1em;
    max-width: 350px;
  }

  .socials {
    a { margin: 0 24px; }
  }
}

@media (min-width: map.get($grid-breakpoints, "lg")) {
  .form-contact {
    padding: 0 2em;
    max-width: 450px;
  }
}
