
@use "sass:map";
@import "../../styles/variables";

.articles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 12px;
}

.articles-section {
  margin-top: 6em;
  background: linear-gradient(125deg, darken($color-primary, 10%) 0%, $color-primary 50%, lighten($color-primary, 10%) 100%);
  color: #000;

  .section-title {
    border-width: 4px;
    border-color: #000;
  }
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em auto;
  padding: 12px;
  max-width: 450px;
}

@media (min-width: map.get($grid-breakpoints, "sm")) {
}

@media (min-width: map.get($grid-breakpoints, "md")) {
  .articles, .socials { padding: 12px 48px; }
}

@media (min-width: map.get($grid-breakpoints, "lg")) {
  .articles, .socials { padding: 12px 256px; }
}
