
@use "sass:map";
@import "../../styles/variables";

.carousel-bg {
  position: absolute;
  width: 100%;
  height: 300px;
  filter: blur(8px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.carousel {
  display: flex;
  user-select: none;
  overflow: hidden;

  .carousel-prev,
  .carousel-next {
    display: none;
    cursor: pointer;
  }

  .carousel-prev { padding-left: 24px; }
  .carousel-next { padding-right: 24px; }

  .carousel-items-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    position: relative;
  }

  .carousel-items {
    display: flex;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;

    .carousel-item {
      display: none;
      flex-shrink: 0;
      height: 300px;
      text-align: center;
      overflow: hidden;

      &.anim-prev {
        margin-right: 100vw;
        animation: slide .25s forwards;
      }

      &.anim-next {
        margin-left: 100vw;
        animation: slide .25s forwards;
      }

      &.active { display: block; }

      img {
        width: 100%;
        height: 300px;
        user-select: none;
        -webkit-user-drag: none;
      }
    }
  }

  .carousel-circles {
    position: absolute;
    bottom: 24px;

    svg {
      cursor: pointer;
      &.active { fill: #fff; }
    }
  }
}

@keyframes slide {
  100% {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: map.get($grid-breakpoints, "sm")) {
  .carousel-bg { height: 300px }
  .carousel {
    .carousel-prev, .carousel-next { display: flex; }
    .carousel-prev { padding-left: 32px; }
    .carousel-next { padding-right: 32px; }

    .carousel-items {
      margin-left: 16px;
      margin-right: 16px;

      .carousel-item {
        height: 300px;

        img { height: 300px; }
      }
    }
  }
}

@media (min-width: map.get($grid-breakpoints, "md")) {
  .carousel-bg { height: 450px }
  .carousel {
    .carousel-prev { padding-left: 64px; }
    .carousel-next { padding-right: 64px; }

    .carousel-items {
      .carousel-item {
        height: 450px;

        img { height: 450px; }
      }
    }
  }
}

@media (min-width: map.get($grid-breakpoints, "lg")) {
  .carousel-bg { height: 600px }
  .carousel {
    .carousel-items {
      .carousel-item {
        height: 600px;

        img { height: 600px; }
      }
    }
  }
}
