
@import "styles/variables";

* {
	box-sizing: border-box;
	font-family: Roboto, 'Open Sans', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: $color-bg;
	color: $color-bg-contrast;
}

a {
	color: inherit;
	text-decoration: none;
}

#root {
	display: contents;
}

@each $i, $size in $spacing-sizes {
	.m-#{$i}, .my-#{$i}, .mt-#{$i} { margin-top: $size; }
	.m-#{$i}, .my-#{$i}, .mb-#{$i} { margin-bottom: $size; }
	.m-#{$i}, .mx-#{$i}, .ml-#{$i} { margin-left: $size; }
	.m-#{$i}, .mx-#{$i}, .mr-#{$i} { margin-right: $size; }

	.p-#{$i}, .py-#{$i}, .pt-#{$i} { padding-top: $size; }
	.p-#{$i}, .py-#{$i}, .pb-#{$i} { padding-bottom: $size; }
	.p-#{$i}, .px-#{$i}, .pl-#{$i} { padding-left: $size; }
	.p-#{$i}, .px-#{$i}, .pr-#{$i} { padding-right: $size; }
}
