
@import "styles/variables";

* {
	box-sizing: border-box;
	font-family: Cornerstone, Roboto, sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: $color-bg;
	color: $color-bg-contrast;
}

a {
	color: inherit;
	text-decoration: none;
}

#root {
	display: contents;
}

@each $i, $size in $spacing-sizes {
	.m-#{$i}, .my-#{$i}, .mt-#{$i} { margin-top: $size; }
	.m-#{$i}, .my-#{$i}, .mb-#{$i} { margin-bottom: $size; }
	.m-#{$i}, .mx-#{$i}, .ml-#{$i} { margin-left: $size; }
	.m-#{$i}, .mx-#{$i}, .mr-#{$i} { margin-right: $size; }

	.p-#{$i}, .py-#{$i}, .pt-#{$i} { padding-top: $size; }
	.p-#{$i}, .py-#{$i}, .pb-#{$i} { padding-bottom: $size; }
	.p-#{$i}, .px-#{$i}, .pl-#{$i} { padding-left: $size; }
	.p-#{$i}, .px-#{$i}, .pr-#{$i} { padding-right: $size; }
}

.form-group {
	display: block;
	margin-top: 1em;

	label {
		display: block;
		margin-bottom: 0.5em;
	}

	.form-control {
		display: block;
		width: 100%;
		padding: .6rem 1rem;
		background-color: transparent;
		border-radius: 4px;
		border: 1px solid $color-primary;
		color: #fff;
		font-size: 1em;
	}
}

.btn {
	display: inline-block;
	padding: .6rem 1rem;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	color: #fff;
	font-size: 1em;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	user-select: none;
}

.btn-primary {
	background-color: $color-primary;
}

.btn-primary:hover {
	background-color: darken($color-primary, 10);
}

.btn-primary:disabled {
	background-color: lighten($color-primary, 20);
}

.btn-block {
	display: block;
	width: 100%;
}

.box {
	display: block;
	width: 100%;
	margin-top: 1em;
	padding: 16px;
	border-radius: 4px;
}

.box-danger {
	color: $color-danger;
	background-color: $color-danger-bg;
	border-color: $color-danger-border;
}

.box-info {
	color: $color-info;
	background-color: $color-info-bg;
	border-color: $color-info-border;
}
